@charset "utf-8";
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.btn {
  border-radius: 2px;
  height: 32px;
  min-width: 88px;
  padding: 4px;
  font-size: 14px;
  font-weight: bold;
}
.header {
  background-color: #212121;
  color: #fff;
  height: 200px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.logo {
  position: absolute;
  height: 100px;
  width: 200px;
  top: -15px;
  left: 18px;
}
.navbar-nav > li {
  margin-left: 30px;
  margin-right: 30px;
}
.navbar-inner {
  background: transparent;
}
nav .navbar-nav li a {
  color: #fff !important;
}
a.nav-link {
  display: flex;
  align-items: center;
}
.search-filter {
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.icon-button {
  background-color: #fff;
  border-color: #fff;
  color: #212121;
  height: 40px;
  min-width: 40px;
  width: 40px;
  padding: 0;
  margin: 0;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.icon-button:hover {
  background-color: #f5f5f5;
}
input[type="text"]:focus {
  border-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0 none;
}
.input-group.search-bar {
  height: 40px;
  width: 640px;
  margin-left: 8px;
}
.input-group.search-bar input {
  border-radius: 2px;
  border: none;
  height: 40px;
}
.input-group.search-bar button {
  border-radius: 2px;
  background-color: #f57f17;
  color: #fff;
  height: 40px;
}
.input-group.search-bar .input-group-text {
  height: 40px;
  border-radius: 2px;
  border: none;
  background-color: #fff;
  color: #212121;
}
.main {
  padding: 40px;
  padding-top: 240px;
}
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  height: 40px;
}
.heading {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  white-space: nowrap;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-main {
  background-color: #f57f17;
  color: #fff;
}
.btn-light {
  background-color: #f5f5f5;
  color: #212121;
}
.btn-icon {
  font-size: 20px;
}
.dropdown-views-count > .btn {
  min-width: 50px !important;
  width: 50px !important;
  background-color: #f5f5f5;
  color: #212121;
  border: none;
}
.dropdown-views-count > .dropdown-menu {
  min-width: 50px !important;
  width: 50px !important;
}
.dropdown-views-count > .dropdown-menu > .dropdown-item {
  padding-top: 5px;
  padding-left: 15px;
}
.page-count {
  display: block;
  white-space: nowrap;
}
.page-count > .dropdown-views-count,
.page-count > .heading {
  display: inline-block;
}
.table thead th {
  height: 60px;
  vertical-align: middle;
}
.table tbody td {
  height: 60px;
  vertical-align: middle;
}
th.t-checkbox,
td.t-checkbox {
  width: 20px;
}
.pointer {
  cursor: pointer;
}
/* Paginate */
.page-link {
  border: none;
  border-radius: 2px;
  color: #212121;
}
.page-link:hover {
  color: #212121;
}
.page-link:focus {
  border: none;
  box-shadow: none;
}
.page-item.active .page-link {
  background-color: #f57f17;
  border-color: #f57f17;
}
ul.pagination {
  margin-bottom: 0;
}
/* END */
